﻿@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|PT+Serif&subset=cyrillic');

body {
    background-color: #f9f9f9;
    font-family: 'PT Serif', serif;
}

.main {
    background: #fff;
}

@media (min-width: 778px) {
    .main {
        height: 100vh;
        overflow: hidden;
    }

    .home-description {
        padding-right: 72px;
        padding-left: 72px;
    }

    .btn-group-vertical {
        padding: 20px 87.5px;
    }
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

.home-greeting {
    padding-top: 120px;
    text-transform: uppercase;
}

.home-description {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;
}

/* Buttons */

.btn {
    padding: 10px 30px;
    height: 45px;
    font-size: 16px;
}

.btn-mighty {
    background-color: #fff;
    color: #111;
    font-style: italic;
    border: 1px solid #111;
    border-radius: 0px !important;
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
    font-size: 14px;
}

    .btn-mighty:hover {
        color: #fff;
        border-color: #7d7b7b;
        background-color: #7d7b7b;
    }

.back {
    width: 170px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    display: block;
    clear: both;
    margin-top: 70px;
}

    .back svg {

    }

.social-buttons a svg {
    height: 40px;
    width: 40px!important;
    border: 1px solid #111;
    line-height: 40px;
    margin: 0 10px;
    color: #111;
    font-size: 20px;
    padding: 8px;
}

.social-buttons a:hover svg {
    color: #fff;
    border-color: #7d7b7b;
    background-color: #7d7b7b;
}

/* Typography */
.subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #3b3b3b;
    line-height: 28px;
    margin-top: 15px;
    padding-right: 40px;
}

.page-title {
    font-weight: 700;
    text-transform: uppercase;
}